<div ng-controler="versionsCtrl" id="mainView" style="height:100%;margin-top:80px;">

  <div id="table-wrap" style="width:95%;margin:0 auto;background-color:white; max-height:85vh; overflow:auto; padding:10px; border-radius:2px;">

    <button style="margin:0; margin-bottom:2px; float:right;" id="toggleBtn" class="btn btn-default unityDarkColor" ng-click="toggle()">toggle</button>
    <table style="margin:0;" ng-table="options" class="table table-condensed table-bordered table-hover">
      <!-- <colgroup>
            <col width="300px" />
            <col width="20%" />
            <col width="60%" />
          </colgroup> -->
      <tr class="ng-table-group" ng-repeat-start="group in $groups">
        <td colspan="4">
          <a href="" ng-hide="header" ng-click="group.$hideRows = !group.$hideRows">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                <strong>{{ group.value }}</strong>
              </a>
        </td>
      </tr>
      <tr ng-hide="group.$hideRows" value="{{unity.version}}" ng-repeat="unity in group.data" ng-repeat-end>
        <td>
          <button class="btn btn-default unityDarkColor"  ng-click="launchUnity(unity.executablePath,unity.version)">Launch</button>
          <button class="btn btn-default unityDarkColor" data-toggle="modal" data-target="#settingsModal">Options</button>
          <!-- hidden functionalities -->
          <div class="showExplorer" ng-hide ng-click="openExplorer(unity.parentPath)"></div>
          <!-- end -->
        </td>
        <td data-title="'Version'" filter="{version:'text'}" sortable="'version'" groupable="'version'">
          {{unity.version}}
        </td>
        <td sortable="'modules'" data-title="'modules'">
          <span class="label label-default" style="display:inline-block;margin-left:5px;background-color:{{module.color}};" ng-repeat="module in unity.modules">{{module.name}}</span>
        </td>
        <td sortable="'path'" data-title="'path'" groupable="'path'">
          {{unity.parentPath}}
        </td>
      </tr>
    </table>

  </div>

  <div id="settingsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          
          <div class="row">

            <div class="form-group col-xs-10 col-xs-offset-1">
                <label for="usr">Launch arguments</label>
                <input type="text" ng-model="launch_arguments" class="form-control" id="usr">
            </div>

            <div class="col-xs-10 col-xs-offset-1" style="margin-bottom:5px;">
              <button class="btn btn-default btn-block" id="open_project_select" ng-style="selectProjectStyle" ng-init="selectedProjectTitle =(selectedProjectTitle || 'Select project')" ng-modal="selectedProjectTitle" ng-click="load_projects()"  data-toggle="modal" data-target="#project_select_modal" >{{selectedProjectTitle}}
                <span ng-show="letRemoveSelectedProject" id="removeSelectedProject" ng-click="removeProjectAsLaunchOption()">&times;</span>
              </button>
            </div>

            <div class="col-xs-10 col-xs-offset-1">
              <button class="btn btn-default btn-block" id="open_explorer"  data-dismiss="modal">Open in explorer</button>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" id="modal-launch">Launch unity</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>

    
  </div>

  <div id="project_select_modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-width:1100px;width:80%;">

      <!-- Modal content-->
      <div class="modal-content" style=" border-radius:0px;" >

        <div class="modal-body">
            <div id="project_select_wrapper">
                <ul class="list-group">
                    <input id="project_filter" placeholder="Search..." style="width: 90%;margin: 0 auto;" class="form-control" type="text" ng-model="project.$">
                    
                    <div ng-hide="projectsLoaded" style="text-align: center;" >
                      <img src="src/images/loading_cat.gif" >
                    </div>       
    
                   <li data-dismiss="modal" class="list-group-item project-select-item" ng-click="addProjectAsLaunchOption(project.path,project.title)" ng-repeat="project in projects | orderBy : '-lastModified' | filter:project">
                    <span ng-style="fSize" style="font-size:{{(project.title.length>=30)?fSize = '16px' : fSize = '18px'  }}" class="name">{{project.title}}</span><br>
                    <span class="version">{{project.version}}</span>
                    <a class="path" onclick="stopPropogation()" style="z-index: 4" ng-click="openExplorer(project.path)">{{project.path.substring(0, 50);}}</a>
                  </li>
                  
                </ul>
              </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>

      </div>
    </div>
  </div>

  <script>
    var launchOptions = {};
    var showingModal = false;
    var del = setInterval(function () {
      var el = $(".ng-table-group-close");
      if (el.length > 0) {
        el.trigger("click");
        clearInterval(del);
      }

    }, 50);
    //get who called bootstrap
    //and set its launch button to that version
    $('#settingsModal').on('show.bs.modal', function (e) {
      var $launchBtn = $(e.relatedTarget.previousElementSibling);
      var version  = $launchBtn.closest("tr").attr("value");
      $("#modal-launch").click(function(){
        $launchBtn.trigger("click");
         // $("#modal-launch").off("click");
      })
      //setting open explorer button attribute to match selected version  
      var $showExplorerEl = $(e.relatedTarget).siblings(".showExplorer");
      $("#open_explorer").click(function(){
        $showExplorerEl.trigger("click");
        //$("#open_explorer").off("click");
      })

      showingModal = true;
    });


    //remove all event listeners
    $('#settingsModal').on('hide.bs.modal', function (e) {
      $("#modal-launch").off("click");
      $("#open_explorer").off("click");
      showingModal = false;
    });

    $(window).keydown((event)=>{
      if(event.ctrlKey && event.key=="k"){
        if(!showingModal)
          $(".input-filter").first().focus();
        else
          $("#project_filter").focus();

      }
    })

    // move filter search bar to top element  
    var inter = setInterval(()=>{       
      if($('.input-filter').length>0){
        $(".input-filter").first().detach().prependTo($("#table-wrap"));
        $(".input-filter").attr("placeholder","Version search");
        $(".input-filter").first().css({
          "width": "60%",
          "display": "inline",
        })
        clearInterval(inter);
      } 

    },10)

    //this does(nt)
    function stopPropogation(e){
      var e = e || window.event;
      e.stopPropagation();
    }

    //this works
    $("#removeSelectedProject").click(function(e){
      e.stopPropagation();
    })
    
    var filterHide = setInterval(()=>{
      if($(".filter").length>0){
        $(".filter").hide();
        clearInterval(filterHide);
      } 
    },16);
    
    
   
    
  </script>
</div>