<div ng-controller="searchUnityCtrl" id="searchUnityCtrl" style="height:100%;margin-top:80px;">
    <h3 style="text-align:center;color:black;">Add paths of where you are holding unity (parent path)</h3>
    <row id="paths">
        <div class="col-xs-12 col-md-10 col-md-offset-1" ng-repeat="key in dataToShow">
            <div class="input-group path-added-panel">
                <input type="text" class="form-control" value="{{key}}" disabled="true">
                <span class="input-group-btn">
                    <button class="btn btn-danger remove-path" ng-click="removePath(this)" type="button">delete</button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </row>

    <row>

        <!-- /.col-lg-6 -->
        <div class="col-xs-12 col-md-10 col-md-offset-1 path-input-wrapper">
            <div class="input-group path-input">
                <input type="file" class="form-control" id="path-input-main" placeholder="Search for...">
                <div class="input-group-btn">
                    <button class="btn btn-default options-path dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        type="button">option<span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a onclick="pasteDirectory()">Paste path</a></li>
                        <li><a onclick="selectDirectory()">select path</a></li>
                    </ul>
                    <button class="btn btn-default add-path" type="button">Add</button>
                </div>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </row>

    <row id="search-footer">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <a ng-click="searchWithPaths()" class="btn btn-success unityDarkColor form-control search-btn">Search</a>
        </div>
    </row>


    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="searchWindow" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <pre ng-bind-html-unsafe="found_output" ng-init="found_output='Initializing..\n'" id="res_output" scroll-glue style="font-size:11px;overflow:auto; width: 100%;height: 400px; resize: none; border:1px solid #ccc">{{found_output}}</pre>

                    <div class="row">
                        <div class="col-xs-4" ng-model="count1" ng-init="count1='0'">Found: {{count1}}</div>
                        <div class="col-xs-12">
                            <div class="progress" ng-style="progressBarWrapper">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" ng-style="searchProgressBar" ng-init="searchProgressBar={'width':'10%'}">
                                    <span class="sr-only">45% Complete</span>
                                </div>
                            </div>
                            <a ng-click="stopSearch();stopBtnClass='btn btn-danger form-control search-btn'" onclick="clearInterval(scroll);" ng-class="stopBtnClass" ng-init="stopBtnClass='btn btn-danger form-control search-btn';stop_button='Stop'" data-dismiss="modal"
                                ng-model="stop_button"  >{{stop_button}}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none;" id="addpathsimulate" ng-click="addPath()"></div>



    <script>
        var fileSelection = require("./src/js/electronAPI/fileSelection.js");
        var fs = require('fs');
        //var toastr = require('toastr');
        var $paths = $("#paths");
        var $pathNodeClone = $("#paths > div").first().clone(true, true);

        var newPath;
        var paths = [];

        (function () {

            //$("#paths > div").first().remove();
            getPathsFromConfig();

            $("#paths").on("click", ".remove-path", function () {
                
                console.log($(this).is($(".remove-path").first()));
                var path = $(this).parents(".path-added-panel").find('input').val();
                var index = paths.indexOf(path);
                // if (index < 0) {
                //     toastr.error(
                //         "Error when removing path(no such path found in saved) maybe it was already removed?"
                //     );
                //     return;
                // }
                paths.splice(index, index + 1);
                $(this).parent().parent().parent().remove();//:DDDDDD I am tired (it does indeed work)
                //toastr.info("path removed succesfully");
                //console.log("PATHS\n" + paths);
                
            });

            $(".add-path").click(function () {
                var path = $(".path-input > input").val();

                emulatePathAdd(path)

            })

        })()
        // selecting dir folder
        $("#path-input-main").click(function (e) {
            if ($(this).attr('type') == 'text') return;
            e.preventDefault();
            //console.log(fileSelection);
            fileSelection.selectDirectory()
                .then(function (path) {
                    console.log(path[0]);
                    emulatePathAdd(path[0]);
                })
                .catch(function (err) {
                    console.log('path failed: ' + path);
                })


        });
        /**
         * check if not duplicate pah and not fake
         */
        function emulatePathAdd(path) {
            console.log(path);

            var valid = checkIfPathValid(path);
            if (!valid) {
                toastr.error("invalid path");
                return;
            }
            if (paths.includes(path)) {
                toastr.error("Duplicate paths are not allowed!");
                return;
            }
            $pathNodeClone.find(".path-added-panel > input").val(path);
            $paths.append($pathNodeClone.clone());
            paths.push(path);
            newPath = path;
            $("#addpathsimulate").trigger("click");
            toastr.success('path added!');
        }

        function checkIfPathValid(path) {

            if (fs.existsSync(path)) {
                return true;
            } else {
                return false;
            }
        }

        function pasteDirectory() {
            $("#path-input-main").attr('type', 'text');
        }

        function selectDirectory() {
            $("#path-input-main").attr('type', 'file');
        }

        $(".search-btn").click(function () {
            if(paths.length<1){
                return;
            }
            $('#searchWindow').modal();
            keepScrollDown();
        })
        var scroll;
        //cancer cancer cancer spent 2 hours ...
        function keepScrollDown() {
            //debugger;
            var $fulloutput = $("#all_output");
            var $resoutput = $("#res_output");

            scroll = setInterval(function () {

                $fulloutput.scrollTop($fulloutput.prop('scrollHeight'));
                $resoutput.scrollTop($resoutput.prop('scrollHeight'));
            }, 10);

        }
        $('#searchWindow').on('hidden.bs.modal', function () {
            console.log("cleared interval");
            clearInterval(scroll);
        })

        function stopScroll() {
            clearInterval(scroll);
        }

        function getPathsFromConfig() {
            
            try {
                //console.log(location);
                //console.log(__dirname);
                var tmp = fs.readFileSync(__dirname+"/config/unityPaths.json");
                if (tmp) {
                    paths = JSON.parse(tmp.toString());
                    paths = paths.searchPaths;
                }
            } catch (e) {
                console.error("unityPaths.json is not present\n" + e);
            }

        }
    </script>
</div>