<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>unityLauncher</title>
    <!--fixes electron stuff to handle window module and declare it-->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <!--// toastr options-->


    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/angularjs-scroll-glue/src/scrollglue.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/ng-table/bundles/ng-table.js"></script>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/ng-table/bundles/ng-table.css">

    <script src="./src/js/routes/router.js"></script>

    <link rel="stylesheet" href="node_modules/toastr/build/toastr.min.css">
    <script src="node_modules/toastr/build/toastr.min.js"></script>
    <!--king table-->

    <script>
     toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    </script>
    <script>if (window.module) module = window.module;</script>
    <!--my css-->
    <link rel="stylesheet" href="./src/css/searchUnity.css">
    <link rel="stylesheet" href="./src/css/header.css">
    <link rel="stylesheet" href="./src/css/mainView.css">
    <!--end-->
  </head>
  
  <!--end of header-->
  <body ng-app="App" ng-controller="initCtrl">
      <!--header-->
    <div class="navbar-wrapper"  ng-controller="mainCtrl">
            <div class="container-fluid">
                <nav class="navbar navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Unity</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav pull-right menu">
                                <li class="active"><a href="#!/main" class="">Versions</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#!/searchUnity">Unity</a></li>
                                        <li><a href="#!/searchProjects">Projects</a></li>
                                    </ul>
                                </li>
                                <!-- <li><a href="#!/search">Search</a></li> -->
                                <li><span ng-click="refresh()" class="glyphicon glyphicon-refresh"></span></li>
                               
                                <!-- 
                                <li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Managers <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">View Managers</a></li>
                                        <li><a href="#">Add New</a></li>
                                    </ul>
                                </li>
                                <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">View Staff</a></li>
                                        <li><a href="#">Add New</a></li>
                                        <li><a href="#">Bulk Upload</a></li>
                                    </ul>
                                </li>
                                <li class=" down"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HR <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Change Time Entry</a></li>
                                        <li><a href="#">Report</a></li>
                                    </ul>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="revert_json" ng-click = "revertJson()">
        </div>
    <ng-view></ng-view>
  </body>

  <script>
    require("./src/js/routes/router.js");
    require("./src/js/controllers/initCtrl.js");
    require("./src/js/controllers/mainCtrl.js");
    require("./src/js/controllers/searchUnityCtrl.js");
    require("./src/js/controllers/searchProjectsCtrl.js");
    require("./src/js/controllers/versionsCtrl.js");
    require("./src/js/services/globals.js");
    require("./src/js/services/refresh.js");
  </script>
  <script>
    $(".menu >li").click(function(){
      var el = $(this);
      $(".menu >li").each(function(index, item){
          if(el.is($(item)))
          {
            $(this).addClass("active");
          }else{
            $(this).removeClass("active");
          }

      })

    })
    //make json empty again if something fucked up
    $(window).keydown((e)=>{
        if(e.ctrlKey && e.shiftKey && e.key == "R"){
            e.preventDefault();
            $("#revert_json").trigger("click");
        }
    })
  </script>
</html>
