
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    background: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
}
.navbar, .dropdown-menu{
background:#343A3F;
border: none;

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #fff;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  /* border-bottom: #FECF71 3px solid; */
  cursor: pointer;
  
}
.nav li:nth-child(8n+3){
  font-size: 18px;
  margin-top: 15px;
  margin-left: 15px;
  color:white;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}

.unityDarkColor{
  background-color:#343A3F;
  border-color:#343A3F;
  color:white;
}

.unityDarkColor:hover{
  background-color:#2e3438!important;
  border-color:#2e3438!important;
  color:white!important;
}

.unityDarkColor:active{
  background-color:#2e3438!important;
  border-color:#2e3438!important;
  color:white!important;
}

.unityDarkColor:focus{
  background-color:#2e3438!important;
  border-color:#2e3438!important;
  color:white!important;
}

.unityDarkColor:target{
  background-color:#2e3438!important;
  border-color:#2e3438!important;
  color:white!important;
}

