tr:hover{
  color:#0CB4CC;
}
/* param */
td:nth-child(1){
  min-width:168px;
  width:168px!important;
}
/* versions */
td:nth-child(2){
  min-width:100px;
  width:165px!important;
}
button, input{
  border-radius:0px!important;
}

#mainView button:hover{
  color:black;
}


#settingsModal div{
  border-radius:0px;
}

.launch_option_div{
  margin:25px;
}

/* CSS used here will be applied after bootstrap.css */
a:hover{
	
  	cursor:pointer;
}

#project_select_wrapper{
  max-height: 70vh;
  overflow: auto;
}
.project-select-item{
    border-radius:0!important;
  	width:90%;
  	margin:0 auto;
  	border:1px solid black;
    margin-top:10px;
    cursor:pointer;
    z-index:1;
    min-width:440px;
    height:72px;
}

.name{
	font-weight:bold;
  font-size:18px;
  letter-spacing: 1px;

}
.path{
	float:right;
	list-style:none;
  color:rgba(0,0,0,0.6);
  z-index:2;

}


.project-select-item:hover{
  color:#337ab7;
}
.project-select-item:hover .path{
	color:#337ab7;
}

.btn{
  border-radius: 0px;
}

#removeSelectedProject{
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 18px;
  height: 20px;
  width: 20px;
}
#removeSelectedProject:hover{
  background-color: rgba(0,0,0,0.3);
}